@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

html{
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    /* background-image: url(images/backgrounds/flat-lay-copy-space-paint.jpg); */
    background-image: url(images/backgrounds/walnut-background.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Julius Sans One;
}
img{
    width: 15vw;
    border-radius: 20px;
}
h1{
    text-shadow: 1px 2px 0 #969696, 1px 4px 5px #aba8a8;
    color: white;
}
h2{
    color: white;
    font-family: Julius Sans One;
    text-shadow: 0px 1px 0 #969696, 1px 4px 5px #aba8a8;

}
p{
    color: white;
}
/* HEADER START */
.header-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.navbar{
    display: flex;
    background-color: #440707;
    /* background-image: url(images/backgrounds/flat-lay-copy-space-paint-flipped.jpg); */
    /* background-image: url(images/backgrounds/walnut-background.png); */
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    gap: 60px;
    border-bottom: #ffffff 1px solid;
    margin: auto;
    padding: auto;
}
#logo-text{
    color: rgb(255, 255, 255);
    font-size: 80px;
    box-shadow: 0px 5px 15px 5px #000000;
    border-radius: 25px;
    border: 2px solid black;
    /* border-top: none; */
    padding: 10px;
    background-color: #440707b4;
}
.navbar img{
    aspect-ratio: 1;
    background-color: #440707b4;
    width: 62px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 5px #000000;
    border: solid black 2px;

}
.navbar-2{
    background-color: #440707;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: #ffffff solid 1px;
}
#home-btn, #booking-btn, #gallery-btn, #feedback-btn{
    text-decoration: none;
    background-color: #440707b4;
    border: #000000 solid 1px;
    border-radius: 45px;
    box-shadow: 0px 5px 15px 5px #000000;
    font-family: Julius Sans One;
    color: white;
    height: 22px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#home-btn:hover, #booking-btn:hover, #gallery-btn:hover, #feedback-btn:hover{
    box-shadow: 0px 5px 15px 5px #ffffff66;
    background-color: #880808d3;
    border: #ffffff 1px solid;

}
/* HEADER END */

/* MAIN SECTION START */
.main-section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: top;
    gap: 5px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;

}
#main-box1, #main-box2, #main-box3, #main-box4{
    /* box-shadow: 0px 5px 15px 10px #000000; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #440707f5;
    border: #ffffff88 1px solid;
    padding-bottom: 20px;
    border-radius: 25px;
    width: 300px;
    height: 500px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 5px 15px 5px #000000;
}
#main-box1-title, #main-box2-title, #main-box3-title, #main-box4-title{
    text-shadow: 0px 1px 0 #ff0000, 1px 2px 5px #d03a3a;

}
#main-box1:hover, #main-box2:hover, #main-box3:hover, #main-box4:hover{
    box-shadow: 0px 5px 15px 5px #848484;
#main-box1-title, #main-box2-title, #main-box3-title, #main-box4-title{
    color:#ffffff;
    text-shadow: 0px 1px 0 #ff0000, 1px 4px 5px #d03a3a;

}
}
.main-section img{
    /* box-shadow: 0px 5px 15px 5px #000000; */
    width: 85%;
}
/* MAIN SECTION END */

/* BOOKING SECTION START */
.booking-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    color: white;
}
.booking-box{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 300px;
    background-color: #440707f5;
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 5px 15px 5px #000000;
    text-align: center;
    border: #ffffff88 1px solid;
    padding: 20px;

}
#booking-form1{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: start;
}
#booking-form2{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.booking-box form{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
}
.booking-box h2{
    position: absolute;
    margin-bottom: 250px;
}
.booking-box a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.booking-box a:hover{
    color: red;
    border-radius: 25px;
    text-shadow: 0px 1px 0 #969696, 1px 4px 5px #aba8a8;
}
/* INPUT FIELDS BOOKING */
/* #name, #booking-email{
    margin-left: 35px;
}
#phone{
    margin-left: 14px;
}
*/
#date{
    width: 80px;
    margin-left: 35%;
}

#persons{
    width: 30px;
    margin-left: 43%;
}

.booking-box textarea{
    max-height: fit-content;
    min-height: 16px;
    max-width: 100%;
} 

/* BOOKING SECTION END */

/* FOOTER SECTION START */
.footer-section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #440707;
    border-top: white 1px solid;
}
.footer-btn-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    height: 50px;
}
.footer-section a{
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.footer-section a:hover{
    color: red;
    border-radius: 25px;
    text-shadow: 0px 1px 0 #969696, 1px 4px 5px #aba8a8;
}
.footer-textbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    text-align: center;
}
.footer-txt2{
    color: rgb(255, 0, 60);
    font-size: 20px;
}
/* Footer section end */