@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: "Julius Sans One", sans-serif;
    background-image: url(images/backgrounds/walnut-background.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
    border-radius: 20px;
}

h1,
h2 {
    color: white;
    text-shadow: 0 1px 0 #969696, 1px 4px 5px #aba8a8;
}

/* Header-section-start */
.header-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #440707;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 10px;
}

.logo-text{
    font-size: 80px;
    color: white;
    background-color: #440707;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: 0 5px 15px 5px #000000;
    padding: 10px;
}

.navbar img{
    width: 6%;
    aspect-ratio: 1;
    padding: 15px;
    background-color: #440707b4;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 5px 15px 5px #000000;
}

.navbar-2{
    width: 100%;
    min-height: 7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #440707;
    border-bottom: 3px solid rgb(255, 255, 255);
}

.navbar-2 a {
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #440707b4;
    border: 1px solid black;
    border-radius: 45px;
    box-shadow: 0 5px 15px 5px #000000;
}

.navbar-2 a:hover {
    background-color: #880808d3;
    border: 1px solid white;
    box-shadow: 0 5px 15px 5px #ffffff66;
}
/* Header-section-end */

/* Main-section-start */
.main-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0 100px;
    padding: 0 20px;
}

.slideshow-container {
    max-width: 1000px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #440707b4;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 5px 15px 5px #000000;
    padding: 20px;
}

.mySlides {
    display: none;
    width: 100%;
}

.mySlides img {
    width: 75%;
    border: 2px solid black;
}

.mySlides h2 {
    margin-bottom: 20px;
}

.prev,
.next {
    cursor: pointer;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 20px;
    user-select: none;
    margin: 10px;
}

.prev:hover,
.next:hover {
    background-color: #000000b4;
}

.dots-container {
    margin-top: 20px;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 4px;
    background-color: #440707b4;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: white;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}
/* Main-section-end */

/* Footer-section-start */
.footer-section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #440707;
    border-top: 1px solid white;
    padding: 20px;
}

.footer-btn-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.footer-section a {
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.footer-section a:hover {
    color: red;
    text-shadow: 0 1px 0 #969696, 1px 4px 5px #aba8a8;
}

.footer-textbox {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    color: white;
    text-align: center;
}

.footer-txt2 {
    color: rgb(255, 0, 60);
    font-size: 20px;
}
/* Footer-section-end */
